/* --------------------------------------------------------------------------- */
/*-New-*/
/* --------------------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
}

p {
    font-weight: 300;
    color: black;
}

body {
    min-height: 1000px;
}

/* --------------------------------------------------------------------------- */
/*-Banner / Background-*/
/* --------------------------------------------------------------------------- */
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("http://getwallpapers.com/wallpaper/full/a/2/8/848522-powerlifting-wallpaper-1920x1212-for-retina.jpg");
    background-size: cover;
}

.banner .home-info {
    max-width: 900px;
    text-align: center;
}

.banner .home-info h3 {
    font-size: 3em;
    color: #e1e2e3;
    margin-bottom: 30px;
    margin-top: 30px;
}

.banner .home-info p {
    font-size: 20px;
    color: #e1e2e3;
}

.btn {
    font-size: 1em;
    color: #99001A;
    background-color: whitesmoke;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    transition: 2s;
    text-decoration: none;
}

.btn:hover {
    letter-spacing: 4px;
}

section {
    padding: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #D3D3D3;
}


.titleText {
    font-size: 2em;
    font-weight: 300;
    color: #933D41;
}

/* --------------------------------------------------------------------------- */
/*-Header-*/
/* --------------------------------------------------------------------------- */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.sticky {
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header .logo {
    color: #933D41;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

header.sticky .logo {
    color: #111;
}

/* --------------------------------------------------------------------------- */
/*-Navigation-*/
/* --------------------------------------------------------------------------- */
header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
    margin-left: 30px;
}

header .navigation li a {
    text-decoration: none;
    color: #e1e2e3;
    font-weight: 300;
    font-size: 15px;
}

header.sticky .navigation li a {
    color: black;
}

header .navigation li a:hover {
    color: #933D41;
}
.hamburger
{
    display: none;
    cursor: pointer;
}
.hamburger .bar
{
    display: block;
    width: 20px;
    height:3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #933D41;
}
/* --------------------------------------------------------------------------- */
/*-Info Tab-*/
/* --------------------------------------------------------------------------- */
.info .title p
{
    text-align: center;
    font-size: 18.5px;
}


.info .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info .card {
    margin: 5px;
    min-height: 400px;
    background-color: whitesmoke;
    border: 1px solid black;
}

.info .card .card-title {
    text-align: center;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.info .card .card-subtitle {
    text-align: center;
    font-size: 25px;
}
.info .card .card-subtitle i {
    color: #933D41;
}

.info .card .card-text a {
    color: #933D41;
}
.info .disclaimer
{
    color: black;
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
}
/* --------------------------------------------------------------------------- */
/*-Programs Tab-*/
/* --------------------------------------------------------------------------- */
.programs
{
    background-color: #dbdbdb;
}
.programs .titleText
{
    color:#933D41;
}
.programs .title p{
    text-align: center;
}
.programs .backContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.programs .back 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    margin: 50px;
    filter: brightness(90%);
}
.programs .Nutrition1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    margin: 50px;
    filter: brightness(90%);
}

.programs .back2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: auto;
    padding: 100px;
    background-image: url("https://cdn.mos.cms.futurecdn.net/JZNSkPZqzzNeNyYFLRty3A-320-80.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid black;
}
.programs .Nutrition2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: auto;
    padding: 100px;
    background-image: url("https://images8.alphacoders.com/361/thumb-1920-361036.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid black;
}
.programs .back2 .program-button {
    font-size: 1em;
    color: black;
    background-color: #D3D3D3;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    transition: 2s;
    text-decoration: none;
    text-transform: uppercase;
}
.programs .Nutrition2 .program-button {
    font-size: 1em;
    color: black;
    background-color: #D3D3D3;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    transition: 2s;
    text-decoration: none;
    text-transform: uppercase;
}
.programs .back2 .program-button a {
    text-decoration: none;
    color: #933D41;
}
.programs .Nutrition2 .program-button a {
    text-decoration: none;
    color: #933D41;
}
.program-button:hover {
    letter-spacing: 3px;
}

/* --------------------------------------------------------------------------- */
/*-Cooking Tab-*/
/* --------------------------------------------------------------------------- */
.nutrition
{
    background-color: #dbdbdb;
}
.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}

.title p 
{
    text-align: center;
    font-size: 19.5px;
}

.nutrition .mealContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nutrition .meal-prep {
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 400px;
}

.nutrition .meal-prep2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nutrition .meal-prep2 button {
    font-size: 20px;
    padding: 10px;
    background-color: #D3D3D3;
    text-transform: uppercase;

}

.nutrition .meal-prep2 button a {
    text-decoration: none;
    color: #933D41;
}

/* --------------------------------------------------------------------------- */


[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.tab {
    cursor: pointer;
    font-size: 20px;
    color: #933D41;
    padding: 20px;
}

.tab.active {
    background-color: #AAAAAA;
}

.tab:hover {
    background-color: #A9A9A9;
}

.tab-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    /* background-image: url("http://drlife.com/wp-content/uploads/2018/04/ThinkstockPhotos-919300626.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
}

.tabTitle {
    margin: 20px;
    color: black;

}

.tab-content .food-container {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    padding: 30px;


}

.nutrition .food-container .food {
    text-align: center;
    padding: 2rem;
    background: whitesmoke;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1);
    outline: 1px solid black;
}

.nutrition .food-container .food h3 {
    color: #987654;
    padding: 10px;
}

.nutrition .food-container .food img {
    outline: 2px solid black;
}

.food-container .food img {
    height: 150px;
    width: 150px;
    border: 2px solid black;
}

.food-container .food .foodList {
    list-style-type: none;
}

.food-container .food .amount {
    position: absolute;
    font-size: 15px;
    margin-right: 10px;
}

.food-container .food .ingredients {
    font-size: 15px;
    margin-left: 60px;
}

.food-container .food .prep {
    border-top: 2px solid #987654;
    padding: 8px;
}

.food-container .food .prep p {
    font-size: 15px;
}

.food-container .food h3 {
    font-size: 25px;
    padding: 5px;
    text-decoration: underline;
}

.food-container .food h4 {
    font-size: 20px;
    padding: 5px;
    text-decoration: underline;
}


/* --------------------------------------------------------------------------- */
/*-About Me Tab-*/
/* --------------------------------------------------------------------------- */
.about 
{
    background-image: url("https://i.pinimg.com/originals/7c/b1/86/7cb18679659f791b1191bea97b74dfc0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #D3D3D3;
    height: auto;
    width: 100%; 
}

.about .titleTextAbout 
{
    color: #933D41;
    font-size: 2em;
    font-weight: 400;
    border: 5px solid #933D41;
    border-radius: 50%;
    background-color: whitesmoke;
    padding: 10px;
    margin-bottom: 30px;
}
.about .nameText 
{
    color: whitesmoke;
    align-items: center;
    text-align: center;
    font-size: 25px;
}
.about .aboutContainer
{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #933D41;
    filter: opacity(90%);
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
}
.about .aboutContainer .myInfo
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: burlywood;
    height: 200px;
    width: 200px;
}
.about .aboutContainer .myImage
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    /* background-color: wheat; */
    margin-left: 40px;
}
.about .aboutContainer .myImage img
{
    height:150px;
    width:150px;
    border-radius: 50%;
    border:1px solid black;
    margin: 20px;
    
}
.about .myText
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #933D41;
    text-align: center;
    filter: opacity(90%);
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.about .myText p
{
    border-top: 1px solid black;
    color: wheat;
    margin: 50px;
}
/* .about .mainContent
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    margin:15px
}
.about .content {
    display: flex;
    justify-content: center;
    background-color: #933D41;
    border: 1px solid black;
    filter: opacity(90%);
    margin: 40px;
    height: 350px;
}

.about .content .box 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.about .content .box .imgBx 
{
    position: relative;
    width: 350px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 30px;
    border: 1px solid black;
    margin: 20px;
}

.about .content .box .imgBx img 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.about .content .box .text 
{
    text-align: center;
    
}

.about .content .box .text p 
{
    border-left: 1px solid black;
    color:wheat;
    margin-left: 15px;
    padding:5px;

} */

.about .contactInfo 
{
    margin-top: 30px;
    font-size: 25px;
    color: whitesmoke;
    text-align: center;
    text-decoration: underline;
}

.about .email 
{
    font-size: 15px;
    color:whitesmoke;
    text-align: center;
}

/* --------------------------------------------------------------------------- */
/*-Footer-*/
/* --------------------------------------------------------------------------- */
.copyrightText {
    padding: 8px 20px;
    border-top: 1px solid black;
    text-align: center;
}

.copyrightText p {
    color: #933D41;
    font-weight: 500;
    text-decoration: none;
}

/* --------------------------------------------------------------------------- */
/*-Calorie Calculator Tab-*/
/* --------------------------------------------------------------------------- */

.calorie .title p
{
    text-align: center;
}
.calorie .card-footer {
    text-align: center;
    justify-content: center;
}

.calorie-words {
    color: #F2F3F4;
    text-align: center;
    justify-content: center;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.calorie .card-body input {
    background-color: whitesmoke;
}

.calorie .card-body select {
    background-color: whitesmoke;
}

.row {
    text-align: center;
    justify-content: center;
}

.btn-calculate {
    color: black;
    background-color: whitesmoke;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
}

.calorie .card {
    background-image: url("https://www.photos-public-domain.com/wp-content/uploads/2013/01/gray-abstract-pattern-laminate-counterop-texture.jpg");
    border: 5px solid black;
    max-width: 750px;
    margin: 0 auto;

}

.calorie .card input {
    align-items: center;
    justify-content: center;

}

/* --------------------------------------------------------------------------- */
/*-Media Queries-*/
/* --------------------------------------------------------------------------- */
@media (min-width: 769px) and (max-width:1230px) {
    section .info {
        flex-direction: column;
    }

    .info .container {
        flex-direction: column;
    }

}

/* -Desktop- */
@media (max-width: 768px) {

    section .info {
        flex-direction: column;
    }

    .info .container {
        flex-direction: column;
    }

    section .nutrition {
        flex-direction: column;
    }

    .nutrition .tab-content {
        justify-content: center;

    }

    .nutrition .tab-content .food-container {
        width: 125px;
        margin-left: 140px;
    }
}

/*-Tablets to small computer Screen-*/
@media(min-width:500px) and (max-width: 768px) {
    header {
        height: 100px;
        flex-direction: column;
    }

    header .logo {
        text-align: center;
    }

    header .navigation li {
        flex-direction: column;
        text-align: center;
        
    }
    header .navigation .nav-link
    {
        font-size: 13px;
    }

    .banner .home-info h3 {
        align-items: center;
        margin: 40px;
    }

    .calorie .card {
        flex-direction: column;

    }

    .calorie input {
        position: relative;
        align-items: center;
        flex-direction: column;
        align-items: center;
    }

    .calorie .row {
        align-items: center;
        flex-direction: column;
        align-items: center;
    }

    .calorie .row .col-sm-4 {
        align-items: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .calorie .calorie-words {
        text-align: center;
        align-items: center;
    }

    .calorie .form-control {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section .info 
    {
        flex-direction: column;
    }

    .info .container 
    {
        flex-direction: column;
    }
    .programs .backContainer
    {
        flex-direction: column;
    }
    .nutrition .tab-content .food-container
    {
        width:100%;
        margin-left: 8px;
    }
   
  
    
   
    
   


}

/*-Tablets-*/
@media(max-width: 500px) {

    .hamburger {
            display: block;
            padding-left: 400px;
            position: fixed;
        }
        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
        }
    
        .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
    
        .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    
        .navigation {
            position: fixed;
            left: -500%;
            top: 10px;
            flex-direction: column;
            /* background-color: #010203; */
            background-image: url("https://tse4.mm.bing.net/th?id=OIP.9yiSbuQ3jPRoGb_KxRglEgHaFj&pid=Api&P=0");
            background-position: center;
            background-size: cover;
            width: 500px;
            text-align: center;
            transition: 0.3s;
        }
        .navigation.active {
            left: 0;
        }
        .navigation .nav-link
        {
            text-align: center;
        }
    .titleText {
        text-align: center;
    }

    header {
        height: 100px;
        flex-direction: column;
    }

    header .logo {
        text-align: center;

    }

    header .navigation li {
        flex-direction: column;
        text-align: center;
        padding: 0 10px 0 10px;
    }

    header .navigation li a {
        font-size: 15px;
    }
    header.sticky .navigation li a
    {
        color: whitesmoke;
    }

    .banner .home-info h3 {
        align-items: center;
        margin: 40px;
    }

    .banner .home-info p {
        align-items: center;
    }

    section .programs {
        flex-direction: column;
    }

    .row .col50 .imgBx img {
        flex-direction: column;
    }

    .food-preview .preview img {
        height: 7rem;
    }

    section .info {
        flex-direction: column;
    }

    .info .container {
        flex-direction: column;
    }

    section .nutrition {
        flex-direction: column;
    }

    .nutrition .tab-content 
    {
        justify-content: center;

    }

    .nutrition .tab-content .food-container 
    {
        width: 125px;
        margin: 60px;
    }
    .about .aboutContainer .myImage 
    {
        flex-direction: column;
        padding-right: 30px;
    }
    

}

/*-Mobile-*/
@media(min-width:360px) and (max-width: 499px)
{
    .hamburger {
            display: block;
            padding-right: 90px;
        }
    
        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
        }
    
        .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
    
        .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    
        .navigation {
            position: fixed;
            top: 10px;
            flex-direction: column;
            background-color: #A9A9A9;
            width: 500px;
            text-align: center;
            transition: 0.3s;
        }
    
        .navigation.active {
            left: 0;
        }
        header.sticky .navigation li a 
        {
            color: whitesmoke;
        }

    .btn
    {
        transition: none;
    }
    .btn:hover
    {
        letter-spacing: normal;
    }
    .btn-calculate
    {
        font-size: 10px;
        
    }
    .titleText {
            text-align: center;
        }
    
        header {
            height: 100px;
            flex-direction: column;
        }
    
        header .logo {
            text-align: center;
    
        }
    
        header .navigation li {
            padding:none;
            text-align: center;
            padding:5px;
        }
    
        header .navigation li a {
            font-size: 15px;
        }
    
        .banner .home-info h3 {
            align-items: center;
            margin: 20px;
        }
    
        .banner .home-info p {
            align-items: center;
        }
    
        section .programs {
            flex-direction: column;
        }
    
        .row .col50 .imgBx img {
            flex-direction: column;
        }
    
    
        section .info 
        {
            flex-direction: column;
        }
    
        .info .container 
        {
            flex-direction: column;
        }
    
        section .nutrition 
        {
            flex-direction: column;
            justify-content: center;
        }
    
        .nutrition .tab-content 
        {
            position:relative;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-left: 25px;
            
        }
        .nutrition .tab-content .tabTitle
        {
            color:black;
        }
        .nutrition .tab-content .food-container 
        {
            width: 125px;
            margin: 20px;
        }

        section .programs
        {
            flex-direction: column;
        }
        .programs .backContainer
        {
            flex-direction: column;
        }
        .programs .Nutrition1 .Nutrition2
        {
            margin: 5px;
        }
        .about .title .titleTextAbout
        {
            text-align: center;
        }
        .about .aboutContainer .myImage
        {
            flex-direction: column;
            margin-right: 10px;
        }
      
}